.selector {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: .3em .7em;
  margin-right: .5em;
  border: solid 1px #bdc3c7;
  border-radius:5px 5px 5px 5px;
  text-transform: uppercase;
  font-size:.8em;
}

.selector {
  cursor: pointer;
}

.selector.selected {
  color: white;
  background-color: #16C4EC;
  border: solid 1px #16C4EC;
}

.row > .selector {
  margin-left: 0em;
}

body {
  margin-top: 2em;
}

h4 {
  margin-top: 1em ;
  margin-bottom: 1em ;
}
